body{background:rgb(252,249,177);height:100%;width:99%;}
{
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}
/* Styliser les elements de la liste  */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background:rgb(239,239,239);
  color:rgb(254,69,36);
  border:rgb(254,124,101) 1px solid;
  font-weight:bold;
  border-radius:10px;
  font-size: 18px;
  transition: 0.2s;
  /*Rendez les elements de la liste non selectionnables */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul li:nth-child(odd) {
  background:rgb(239,239,239);
  color:rgb(254,69,36);
  border:rgb(254,124,101) 1px solid;
  border-radius:10px;
  font-weight:bold;
}
ul li:hover {
  background: #ddd;
}

/* Lorsqu'on clique dessus,ajoutez une couleur de fond et rayez le texte */
ul li.checked {
  background: rgb(239,239,239);
  color: green;
  font-weight:bold;
  text-decoration: line-through green;
  
}

/* Ajoutez une marque  "checked" lorsqu'elle est cliquée */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: green;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Stylisez le bouton de fermeture */
.close {
  position: absolute;
  right: 0px;
  top: 0;
  padding: 12px 16px 12px 16px;
  border:rgb(254,124,101) ;
  border-radius:10px;
  background:rgb(239,239,239);
  color:rgb(254,124,101);
  font-weight:bold;
  
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Stylisez l'en tete*/
.header {
  background-color: rgb(255,118,94);
  padding: 20px 40px;
  color: white;
  text-align: center;
  font-size:30px;
  border-radius:10px;
}

/* Effacez les sauts de ligne apres l'en tete */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Stylisez input */
input {
  margin: 0;
  border: none;
  border-radius:10px;
  width: 70%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Styliser le bouton "Add" */
.addBtn {
  padding: 10px;
  width: 10%;
  background:white;
  color: rgb(254,124,101);
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
  border:rgb(254,124,101);
}

.addBtn:hover {
  background-color:rgb(254,124,101);color:white;border:white 1px solid;
}